
ul.lang-switch {
  display: none;
}

/* ================================================ */
.entry-header > h2 {
  font-size: 1.2rem;
}

h1.post-title {
  font-size: 1.5rem;
}

.post-content {
  font-size: 1rem;
}

.prev > span {
  font-size: 1rem;
}

.next > span {
  font-size: 1rem;
}

/* ================================================ */
.logo > a {
    color: #aaaaaa;
}

.logo > a:hover {
    color: #333333;
}

p > a {
    color: #36aa00;
}

p > a:hover {
    color: #00bab3;
}

.post-content blockquote {
    border-inline-start: 6px solid #eee;
}


/* ================================================ */
.custom_footer_wraper {
    background-color: #212529;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 5rem;
    font-size: 0.8em;
}

.custom_footer_comment {
    position: relative;
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.custom_footer_comment > a {
    color: rgb(173,255,47);
}

.custom_footer_comment > a:hover {
  color: #00bab3;
}